html, body, #root {
  height: 100vh;
}

.wrappers {
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    margin: 1em;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    height: 80%;
}

.footer {
    display: flex;
    justify-content: center;
    position:absolute;
    left:0;
    bottom:0;
    right:0;    
}

