.card-display {
    margin-bottom: 0.5em
}

.card-container {
    margin: 0 auto;
    width: 50%;
    margin-top: 1em;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.no-clickable {
    pointer-events: none
}